<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.packabunch.debug.DesignPreviewActivity" android:exported="true" />
        <activity android:name="com.packabunch.debug.GeometryPreviewActivity" android:exported="true" />
    </application>
</manifest>
